@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body{
    background: #014a73 url(../img/bg.jpg) top repeat-x;
    font-family: 'Ubuntu';
}


.container{
    width: 95%;
}
.fondo-app{

}

.font-big{
    color: #2B57A5;
    font-size: 60px;
}

.font-white{
    color: white;
}

.content-app{
    padding: 0px;
}

.thumbnail{
    width: 200px;
}

.hand-left img{
    float: left;
}

.hand-right img{
    float: right;
}

.footer-app{
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    height: 30px;
    border-radius: 0px 0px 6px 6px;
    margin-left: -20px;
    margin-right: -20px;
}

.container {
    padding-bottom: 0px;
    border-bottom: 0px;
}
.hero-unit{
    margin-top: 15px;
    padding: 2px;
}

#heading-app h1 h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}


