@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body{
    font-family: 'Verdana';
    color:white;
}


.container{
    width: 80%;
}

.fondo {
    background: #014a73 url(../img/bg.jpg) top repeat-x;
}
.fondo-app{

}

.font-big{
    color: #2B57A5;
    font-size: 60px;
}

.font-white{
    color: white;
}

.content-app{
    padding: 0px;
}

.thumbnail{
    width: 200px;
}

.hand-left img{
    float: left;
}

.hand-right img{
    float: right;
}

.footer-app{
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    height: 30px;
    border-radius: 0px 0px 6px 6px;
    margin-left: -20px;
    margin-right: -20px;
}

.container {
    padding-bottom: 0px;
    border-bottom: 0px;
}
.hero-unit{
    margin-top: 15px;
    padding: 2px;
}

#heading-app h1 h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 120px;
    padding: 10px 10px 10px 10px;
}

@media (max-width: 1024px) {
    .container{
        width: 970px;
    }
}

.triangle-rigth {
    position: relative;
    padding: 15px;
    color: #fff;
    background: #075698;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -moz-linear-gradient(#2e88c4, #075698);
    background: -o-linear-gradient(#2e88c4, #075698);
    background: linear-gradient(#2e88c4, #075698);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0px;
}
